<!DOCTYPE html>
<html>

<head>
    <title>測試頁面</title>
    <script src="WebSocketSync.js"></script>
    <style>
        .bottom{
            position: fixed;
            bottom: 0px;
            padding: 15px 20px;
            background-color: #DADADA;
            width: 100%;
        }
        .inputText{
            height: 18px;
            width: 50%;
            padding: 5px;
        }
    </style>
</head>

<body>
    對話內容:
    <div id="output"></div>
    <div class="bottom"><input id="inputText" class="inputText" type="text" placeholder="輸入對話內容( 完成後按下 Enter 送出)"></div>
    <script src="index.js"></script>
</body>
</html>